.cartItem {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
    border-style: double;
    border-color: black;
    align-items: center;
    justify-content: space-evenly;
    margin: 7px;
}

.imgSize {
    width: 220px;
    height: 250px;
}